dist/index.html
<html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no"><meta name="description" content="Sreda - студия дизайна интерьеров"><meta name="keywords" content="Sreda, interior, interior design, дизайн интерьеров, интерьер, ремонт, квартира, дом"><meta name="author" content="Eugenya Zavistovskaya, Denis Polulyakh, Alena Zhilko"><title>Sreda - интерьеры в Харькове</title><link rel="icon" type="image/x-icon" href="/favicon.png?v=5"><link href="/stylesheets/bootstrap.min.css" rel="stylesheet"><link href="/stylesheets/bootstrap-slider.min.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"><link href="/stylesheets/nav.css" rel="stylesheet"><link href="/stylesheets/doc.css" rel="stylesheet"><link href="/stylesheets/contacts.css" rel="stylesheet"><link href="/stylesheets/portfolio.css" rel="stylesheet"><link href="/stylesheets/services.css" rel="stylesheet"><link href="/stylesheets/bg.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"></head><body class="home"><div class="super-container"><header id="top" role="banner" class="navbar navbar-default bs-docs-nav"><div class="navbar-header"><div class="navbar-brand active"><a href="/"><span class="home-link">&nbsp;</span></a></div><button type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="bs-navbar" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><nav id="main-navbar" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li class="false"><a href="/services/">Услуги</a></li><li class="false"><a href="/portfolio/">Портфолио</a></li><li class="false"><a href="/team/">Команда</a></li><li class="false"><a href="/contacts/">Контакты</a></li></ul><span class="upper-contact visible-lg"><a href="tel:+380950124237"><span class="glyphicon glyphicon-earphone"></span><strong>(095) 012 42 37</strong></a></span></nav></header><div class="main"><div class="container"><div class="logo"><img src="/images/logo.png"></div><div class="order-buttons center-block"><span class="col-md-1 hidden-sm col-xs-1"></span><a href="/portfolio" class="btn col-md-3 col-sm-5 col-xs-9 landing-button">Наши работы</a><span class="col-md-4 col-sm-2 col-xs-1 middle-button-spacer"></span><a href="/services" class="btn col-md-3 col-sm-5 col-xs-9 landing-button">Посчитать мой проект</a><span class="col-md-1 hidden-sm col-xs-1"></span></div></div></div><!--footer.visible-lg.visible-md.visible-sm.container
  .blog-link
    a(href='#')
      span Тренды 2016: индивидуальность, простота, экологичность...
      u читать дальше--><footer><div class="container"><div class="centered">© 2016 Sreda</div></div></footer></div><script src="/javascripts/jquery-3.1.0.min.js"></script><script src="/javascripts/bootstrap.min.js"></script><script src="/javascripts/bootstrap-slider.min.js"></script><script src="/javascripts/jquery.maskedinput.min.js"></script><script src="/javascripts/sha1.js"></script><script src="/javascripts/docs.js"></script><script src="/javascripts/calc.js"></script><script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-84566745-1', 'auto');
 ga('send', 'pageview');</script></body></html>

views/index.jade
extends layout

block content
  .main
    .container
      .logo
        img(src='/images/logo.png')
      .order-buttons.center-block
        span.col-md-1.hidden-sm.col-xs-1
        a.btn.col-md-3.col-sm-5.col-xs-9.landing-button(href='/portfolio') Наши работы
        span.col-md-4.col-sm-2.col-xs-1.middle-button-spacer
        a.btn.col-md-3.col-sm-5.col-xs-9.landing-button(href='/services') Посчитать мой проект
        span.col-md-1.hidden-sm.col-xs-1
  //footer.visible-lg.visible-md.visible-sm
    .container
      .blog-link
        a(href='#')
          span Тренды 2016: индивидуальность, простота, экологичность...
          u читать дальше
