dist/team/index.html
<html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no"><meta name="description" content="Sreda - студия дизайна интерьеров"><meta name="keywords" content="Sreda, interior, interior design, дизайн интерьеров, интерьер, ремонт, квартира, дом"><meta name="author" content="Eugenya Zavistovskaya, Denis Polulyakh, Alena Zhilko"><title>Sreda - О нас</title><link rel="icon" type="image/x-icon" href="/favicon.png?v=5"><link href="/stylesheets/bootstrap.min.css" rel="stylesheet"><link href="/stylesheets/bootstrap-slider.min.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"><link href="/stylesheets/nav.css" rel="stylesheet"><link href="/stylesheets/doc.css" rel="stylesheet"><link href="/stylesheets/contacts.css" rel="stylesheet"><link href="/stylesheets/portfolio.css" rel="stylesheet"><link href="/stylesheets/services.css" rel="stylesheet"><link href="/stylesheets/bg.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"></head><body class="team"><div class="super-container"><header id="top" role="banner" class="navbar navbar-default bs-docs-nav"><div class="navbar-header"><div class="navbar-brand false"><a href="/"><span class="home-link">&nbsp;</span></a></div><button type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="bs-navbar" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><nav id="main-navbar" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li class="false"><a href="/services/">Услуги</a></li><li class="false"><a href="/portfolio/">Портфолио</a></li><li class="active"><a href="/team/">Команда</a></li><li class="false"><a href="/contacts/">Контакты</a></li></ul><span class="upper-contact visible-lg"><a href="tel:+380950124237"><span class="glyphicon glyphicon-earphone"></span><strong>(095) 012 42 37</strong></a></span></nav></header><div class="main team-main"><div class="container team-container narrow-container"><div class="about"><p class="fake">Студия интерьеров «SREDA»- студия глобальных дизайнерских решений, которая знает, как сделать Ваш интерьер лучшим, не отстающая от  тенденций мирового дизайна!</p><p></p><p>Пафосно… Но это не то, что хотелось бы сказать о нас.</p><p>Наша история началась очень давно с идеи Алены собрать профессионалов и отличных, позитивных  ребят для работы в одной команде. Не случилось ничего невероятного, <strong>просто</strong> взяли и начали вместе встречаться за чаем и просто придумывать <strong>для Вас</strong> дизайн, <strong>смелый и нужный</strong> интерьер.</p><p>Мы на редкость честны друг перед  другом и своими заказчиками, и делаем это основой взаимоотношений.  Каждый из нас успел состояться, как абсолютно автономный успешный специалист. Но когда МЫ вместе, то создаем  что-то большее, чем просто хороший дизайн, мебель, ремонт …мы  добавляем <strong>уникальность</strong> в каждый квадратный метр.</p><p>Мы <strong>не признаем</strong> непрофессионализм. Для нас  не имеет значения, над  чем мы работаем: детская комната, пентхаус , квартира холостяка, летнее кафе… в каждом проекте мы видим возможность проявить себя. Поэтому у нас в работе не бывает «текучки» .</p><p>Приглашаем Вас присоединиться к нашей компании  и стать соавтором Вашего интерьера!</p></div><h1 class="centered">Наша команда</h1><div class="member"><div class="col-md-4 member_photo"><img src="/images/team/alena.png"></div><div class="col-md-8 details"><h3>Алена Жилко</h3><h4>Руководитель студии, автор проектов.  Опыт работы – 7лет</h4><ul><li>Болезненная потребность в эстетике</li><li>Умеет  вдохновить и озадачить</li><li>Любит предоплату</li><li>Имеет  5 телефонов и 7 записных книжек</li><li>Живет на планете Сатурн</li><li>Проектирует во сне</li></ul></div></div><div class="member"><div class="col-md-4 member_photo"><img src="/images/team/sergey.png"></div><div class="col-md-8 details"><h3>Сергей  Швецов</h3><h4>Дизайнер мебели, руководитель авторской мебельной мастерской. Опыт работы - 15лет</h4><ul><li>Перфикционист</li><li>Знает, КАК НАДО</li><li>Любит предоплату</li><li>Умный, идейный и ни капли не скромный</li><li>Решает нерешимое</li><li>Верит в карму</li></ul></div></div><div class="member"><div class="col-md-4 member_photo"><img src="/images/team/diana.png"></div><div class="col-md-8 details"><h3>Диана Айвазян</h3><h4>Дизайнер интерьера, визуализатор. Опыт работы - 5лет</h4><ul><li>Не спит ночью</li><li>Не спит днем</li><li>Не спит</li><li>Требовательна к себе</li><li>Любит предоплату</li><li>Вдохновлённая</li><li>Умеет объять необъятное</li><li>Знает, как сделать «Красиво»</li></ul></div></div><div class="member"><div class="col-md-4 member_photo"><div class="empty_member_photo">?</div></div><div class="col-md-8 details"><h3>Константин  Губский</h3><h4>Архитектор, главный руководитель отдела крупной проектной организации. Опыт работы более 10 лет.</h4><ul><li>Точный и педантичный</li><li>Не любит  НЕ ПРОФЕССИОНАЛОВ</li><li>Любит предоплату</li><li>Знает ВСЕ</li><li>Пишет печатными буквами</li><li>Говорит по-французски</li><li>Любит отдых и не признает допинг</li><li>Один из последних честных людей</li></ul></div></div><div class="member"><div class="col-md-4 member_photo"><div class="empty_member_photo">?</div></div><div class="col-md-8 details"><h3>X-Man (удаленный сотрудник)</h3><h4>Дизайнер-визуализатор</h4><ul><li>Неосязаемо присутствует на всех этапах работы</li><li>Нашел заветную кнопку  “СДЕЛАТЬ КРУТО”</li><li>Любит предоплату</li><li>Свободолюбивый</li><li>От скорости работы сгорела не одна мышка</li><li>Креативный и прогрессивный</li></ul></div></div><div class="member"><div class="col-md-4 member_photo"><div class="empty_member_photo">?</div></div><div class="col-md-8 details"><h3>Петр Максимец</h3><h4>Руководитель строительных, ремонтных  работ. Опыт работы 10лет</h4><ul><li>Любит сложные задачи</li><li>Не знаком с Равшаном и Джамшутом</li><li>Любит предоплату</li><li>Знает что такое смета и бюджет</li></ul></div></div></div></div><footer><div class="container"><div class="centered">© 2016 Sreda</div></div></footer></div><script src="/javascripts/jquery-3.1.0.min.js"></script><script src="/javascripts/bootstrap.min.js"></script><script src="/javascripts/bootstrap-slider.min.js"></script><script src="/javascripts/jquery.maskedinput.min.js"></script><script src="/javascripts/sha1.js"></script><script src="/javascripts/docs.js"></script><script src="/javascripts/calc.js"></script><script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-84566745-1', 'auto');
 ga('send', 'pageview');</script></body></html>

views/team/index.jade
extends ../layout

block content
  .main.team-main
    .container.team-container.narrow-container
      .about
        p.fake Студия интерьеров «SREDA»- студия глобальных дизайнерских решений, которая знает, как сделать Ваш интерьер лучшим, не отстающая от  тенденций мирового дизайна!
        p
        p Пафосно… Но это не то, что хотелось бы сказать о нас.

        p Наша история началась очень давно с идеи Алены собрать профессионалов и отличных, позитивных  ребят для работы в одной команде. Не случилось ничего невероятного, <strong>просто</strong> взяли и начали вместе встречаться за чаем и просто придумывать <strong>для Вас</strong> дизайн, <strong>смелый и нужный</strong> интерьер.
        p Мы на редкость честны друг перед  другом и своими заказчиками, и делаем это основой взаимоотношений.  Каждый из нас успел состояться, как абсолютно автономный успешный специалист. Но когда МЫ вместе, то создаем  что-то большее, чем просто хороший дизайн, мебель, ремонт …мы  добавляем <strong>уникальность</strong> в каждый квадратный метр.
        p Мы <strong>не признаем</strong> непрофессионализм. Для нас  не имеет значения, над  чем мы работаем: детская комната, пентхаус , квартира холостяка, летнее кафе… в каждом проекте мы видим возможность проявить себя. Поэтому у нас в работе не бывает «текучки» .

        p Приглашаем Вас присоединиться к нашей компании  и стать соавтором Вашего интерьера!

      h1.centered Наша команда
      .member
        .col-md-4.member_photo
          img(src='/images/team/alena.png')
        .col-md-8.details
          h3 Алена Жилко
          h4 Руководитель студии, автор проектов.  Опыт работы – 7лет
          ul
            li Болезненная потребность в эстетике
            li Умеет  вдохновить и озадачить
            li Любит предоплату
            li Имеет  5 телефонов и 7 записных книжек
            li Живет на планете Сатурн
            li Проектирует во сне
      .member
        .col-md-4.member_photo
          img(src='/images/team/sergey.png')
        .col-md-8.details
          h3 Сергей  Швецов
          h4 Дизайнер мебели, руководитель авторской мебельной мастерской. Опыт работы - 15лет
          ul
            li Перфикционист
            li Знает, КАК НАДО
            li Любит предоплату
            li Умный, идейный и ни капли не скромный
            li Решает нерешимое
            li Верит в карму
      .member
        .col-md-4.member_photo
          img(src='/images/team/diana.png')
        .col-md-8.details
          h3 Диана Айвазян
          h4 Дизайнер интерьера, визуализатор. Опыт работы - 5лет
          ul
            li Не спит ночью
            li Не спит днем
            li Не спит
            li Требовательна к себе
            li Любит предоплату
            li Вдохновлённая
            li Умеет объять необъятное
            li Знает, как сделать «Красиво»


      .member
        .col-md-4.member_photo
          .empty_member_photo ?
        .col-md-8.details
          h3 Константин  Губский
          h4 Архитектор, главный руководитель отдела крупной проектной организации. Опыт работы более 10 лет.
          ul
            li Точный и педантичный
            li Не любит  НЕ ПРОФЕССИОНАЛОВ
            li Любит предоплату
            li Знает ВСЕ
            li Пишет печатными буквами
            li Говорит по-французски
            li Любит отдых и не признает допинг
            li Один из последних честных людей

      .member
        .col-md-4.member_photo
          .empty_member_photo ?
        .col-md-8.details
          h3 X-Man (удаленный сотрудник)
          h4 Дизайнер-визуализатор
          ul
            li Неосязаемо присутствует на всех этапах работы
            li Нашел заветную кнопку  “СДЕЛАТЬ КРУТО”
            li Любит предоплату
            li Свободолюбивый
            li От скорости работы сгорела не одна мышка
            li Креативный и прогрессивный

      .member
        .col-md-4.member_photo
          .empty_member_photo ?
        .col-md-8.details
          h3 Петр Максимец
          h4 Руководитель строительных, ремонтных  работ. Опыт работы 10лет
          ul
            li Любит сложные задачи
            li Не знаком с Равшаном и Джамшутом
            li Любит предоплату
            li Знает что такое смета и бюджет
