dist/contacts/index.html
<html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no"><meta name="description" content="Sreda - студия дизайна интерьеров"><meta name="keywords" content="Sreda, interior, interior design, дизайн интерьеров, интерьер, ремонт, квартира, дом"><meta name="author" content="Eugenya Zavistovskaya, Denis Polulyakh, Alena Zhilko"><title>Sreda - Наши контакты</title><link rel="icon" type="image/x-icon" href="/favicon.png?v=5"><link href="/stylesheets/bootstrap.min.css" rel="stylesheet"><link href="/stylesheets/bootstrap-slider.min.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"><link href="/stylesheets/nav.css" rel="stylesheet"><link href="/stylesheets/doc.css" rel="stylesheet"><link href="/stylesheets/contacts.css" rel="stylesheet"><link href="/stylesheets/portfolio.css" rel="stylesheet"><link href="/stylesheets/services.css" rel="stylesheet"><link href="/stylesheets/bg.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"></head><body class="contacts"><div class="super-container"><header id="top" role="banner" class="navbar navbar-default bs-docs-nav"><div class="navbar-header"><div class="navbar-brand false"><a href="/"><span class="home-link">&nbsp;</span></a></div><button type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="bs-navbar" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><nav id="main-navbar" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li class="false"><a href="/services/">Услуги</a></li><li class="false"><a href="/portfolio/">Портфолио</a></li><li class="false"><a href="/team/">Команда</a></li><li class="active"><a href="/contacts/">Контакты</a></li></ul><span class="upper-contact visible-lg"><a href="tel:+380950124237"><span class="glyphicon glyphicon-earphone"></span><strong>(095) 012 42 37</strong></a></span></nav></header><div class="main contacts-main"><div class="container narrow-container contacts-container"><div class="contacts-block"><div class="contacts-logo"><img src="/images/logo.png"></div><hr><h4>г. Харьков</h4><h4><a href="tel:+380950124237"><span class="glyphicon glyphicon-earphone"></span><span>095-012-42-37</span></a></h4><h4><a href="tel:+380688225929"><span class="glyphicon glyphicon-earphone"></span><span>068-822-59-29</span></a></h4><h4><a href="mailto:sreda_ds@mail.ua"><span class="glyphicon glyphicon-envelope"></span><span>sreda_ds</span><span>@</span><span>mail.ua</span></a></h4><h4><a href="skype:alena40288?chat"><span class="with-image"><img src="/images/skype_icon.png"></span><span>Skype: alena40288</span></a></h4><h4><a href="https://www.facebook.com/groups/1637835749826022/"><span class="with-image"><img src="/images/facebook_icon.png"></span><span>Sreda на Facebook</span></a></h4></div></div></div><footer><div class="container"><div class="centered">© 2016 Sreda</div></div></footer></div><script src="/javascripts/jquery-3.1.0.min.js"></script><script src="/javascripts/bootstrap.min.js"></script><script src="/javascripts/bootstrap-slider.min.js"></script><script src="/javascripts/jquery.maskedinput.min.js"></script><script src="/javascripts/sha1.js"></script><script src="/javascripts/docs.js"></script><script src="/javascripts/calc.js"></script><script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-84566745-1', 'auto');
 ga('send', 'pageview');</script></body></html>

views/contacts/index.jade
extends ../layout

block content
  .main.contacts-main
    .container.narrow-container.contacts-container
      .contacts-block
        .contacts-logo
          img(src='/images/logo.png')
        hr
        h4 г. Харьков
        h4
          a(href='tel:+380950124237')
            span.glyphicon.glyphicon-earphone
            span 095-012-42-37
        h4
          a(href='tel:+380688225929')
            span.glyphicon.glyphicon-earphone
            span 068-822-59-29

        h4
          a(href='mailto:sreda_ds@mail.ua')
            span.glyphicon.glyphicon-envelope
            span sreda_ds
            span @
            span mail.ua

        h4
          a(href='skype:alena40288?chat')
            span.with-image
              img(src='/images/skype_icon.png')
            span Skype: alena40288

        h4
          a(href='https://www.facebook.com/groups/1637835749826022/')
            span.with-image
              img(src='/images/facebook_icon.png')
            span Sreda на Facebook
