views/portfolio/index.jade
extends ../layout


mixin galleryItem(item)
  if item.tile == 'small_text'
    .gallery-item.text-container(class=item.className)
      a.text-square(href='#')
        span= item.text
  else
    .gallery-item.img-container(class=item.className)
      a.img-holder(href= '/portfolio/' + item.mnemonic)
        img(src="/images/projects/" + item.folder + '/preview.jpg')
        .on-hover-container
          .details-bg
          .details-text
            p= item.title

block content
  .main
    .container.portfolio-container
      .images-container
        - for (var i = 0; i < pages.length; ++i) {
          - var item = pages[i];
          if item.startPair
            .pair.gallery-item.height2
              +galleryItem(item)
              - i++
              - item = pages[i];
              if item
                +galleryItem(item)
          else
            +galleryItem(item)

        - }

dist/portfolio/index.html
<html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no"><meta name="description" content="Sreda - студия дизайна интерьеров"><meta name="keywords" content="Sreda, interior, interior design, дизайн интерьеров, интерьер, ремонт, квартира, дом"><meta name="author" content="Eugenya Zavistovskaya, Denis Polulyakh, Alena Zhilko"><title>Sreda - Портфолио</title><link rel="icon" type="image/x-icon" href="/favicon.png?v=5"><link href="/stylesheets/bootstrap.min.css" rel="stylesheet"><link href="/stylesheets/bootstrap-slider.min.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"><link href="/stylesheets/nav.css" rel="stylesheet"><link href="/stylesheets/doc.css" rel="stylesheet"><link href="/stylesheets/contacts.css" rel="stylesheet"><link href="/stylesheets/portfolio.css" rel="stylesheet"><link href="/stylesheets/services.css" rel="stylesheet"><link href="/stylesheets/bg.css" rel="stylesheet"><link href="/stylesheets/team.css" rel="stylesheet"></head><body class="portfolio"><div class="super-container"><header id="top" role="banner" class="navbar navbar-default bs-docs-nav"><div class="navbar-header"><div class="navbar-brand false"><a href="/"><span class="home-link">&nbsp;</span></a></div><button type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="bs-navbar" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div><nav id="main-navbar" class="collapse navbar-collapse"><ul class="nav navbar-nav"><li class="false"><a href="/services/">Услуги</a></li><li class="active"><a href="/portfolio/">Портфолио</a></li><li class="false"><a href="/team/">Команда</a></li><li class="false"><a href="/contacts/">Контакты</a></li></ul><span class="upper-contact visible-lg"><a href="tel:+380950124237"><span class="glyphicon glyphicon-earphone"></span><strong>(095) 012 42 37</strong></a></span></nav></header><div class="main"><div class="container portfolio-container"><div class="images-container"><div class="gallery-item img-container width2 height2"><a href="/portfolio/apartments/gray" class="img-holder"><img src="/images/projects/1/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>В сером цвете. Квартира 100м.кв</p></div></div></a></div><div class="pair gallery-item height2"><div class="gallery-item text-container width1 height1"><a href="#" class="text-square"><span>Дома и квартиры</span></a></div><div class="gallery-item img-container width1 height1"><a href="/portfolio/apartments/vintage" class="img-holder"><img src="/images/projects/2/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Винтажная. Квартира 96м.кв</p></div></div></a></div></div><div class="gallery-item img-container width1 height2"><a href="/portfolio/apartments/loner" class="img-holder"><img src="/images/projects/3/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Квартира холостяка. Квартира 75 м.кв</p></div></div></a></div><div class="pair gallery-item height2"><div class="gallery-item img-container width2 height1"><a href="/portfolio/apartments/for_man" class="img-holder"><img src="/images/projects/4/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Мужской интерьер. Квартира 78м.кв</p></div></div></a></div><div class="gallery-item img-container width2 height1"><a href="/portfolio/apartments/light" class="img-holder"><img src="/images/projects/5/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Светлая квартира. Квартира 74м.кв</p></div></div></a></div></div><div class="pair gallery-item height2"><div class="gallery-item img-container width2 height1"><a href="/portfolio/apartments/bright_idea" class="img-holder"><img src="/images/projects/6/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Яркая идея.Квартира 74м.кв</p></div></div></a></div><div class="gallery-item img-container width2 height1"><a href="/portfolio/apartments/cosy_house" class="img-holder"><img src="/images/projects/7/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Уютный дом. Дом 120м.кв</p></div></div></a></div></div><div class="pair gallery-item height2"><div class="gallery-item text-container width1 height1"><a href="#" class="text-square"><span>Для бизнеса</span></a></div><div class="gallery-item img-container width1 height1"><a href="/portfolio/commercial/tamir" class="img-holder"><img src="/images/projects/8-business/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Магазин мужской одежды «Тамир»</p></div></div></a></div></div><div class="pair gallery-item height2"><div class="gallery-item img-container width1 height1"><a href="/portfolio/commercial/furniture" class="img-holder"><img src="/images/projects/9-furniture/preview.jpg"><div class="on-hover-container"><div class="details-bg"></div><div class="details-text"><p>Мебель</p></div></div></a></div><div class="gallery-item text-container width1 height1"><a href="#" class="text-square"><span>Мебель</span></a></div></div></div></div></div><footer><div class="container"><div class="centered">© 2016 Sreda</div></div></footer></div><script src="/javascripts/jquery-3.1.0.min.js"></script><script src="/javascripts/bootstrap.min.js"></script><script src="/javascripts/bootstrap-slider.min.js"></script><script src="/javascripts/jquery.maskedinput.min.js"></script><script src="/javascripts/sha1.js"></script><script src="/javascripts/docs.js"></script><script src="/javascripts/calc.js"></script><script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q || []).push(arguments)},i[r].l=1 * new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-84566745-1', 'auto');
 ga('send', 'pageview');</script></body></html>
